@tailwind base;
@tailwind components;
@tailwind utilities;

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
.exo-regular {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-style{
  @apply text-center font-semibold text-xl text-white exo-regular  bg-yellow hover:bg-[#f19b21] px-10 py-3 rounded-md;
}
.button {
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\25B6';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.game-move-card:hover{
  transform: translateY(-5px) scale(1.005) translateZ(0);
  transition: 0.2s;
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}